# OPTION: You can uncomment one of the folloing lines to automatically open your editor (VSCode or IntelliJ Idea)
#         in case of a compiler error
# OS_command_template_to_open_source_code_file = "code --goto [[file]]:[[line]]"
# OS_command_template_to_open_source_code_file = "idea64.exe /PATH/TO/INTELLIJ/PROJECT_FILE --line [[line]] [[file]]"
